<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/que-screen1.css">
</head>
<body>
    <div class="main-container">
        <nav class="navigation">
            <a href="/"><h1 class="quiz-heading">HI-FI Quiz</h1></a>
            <button onclick="location.href='/components/logout.html'" class="quiz-login-btn">Logout</button>
        </nav>
        <div class="question-container">
            <div class="quiz-sight-container">
                <h1 class="que-screen">HTML Quiz</h1>
                <div class="que-container">
                    <div class="que-score-count">
                        <span class="que-count">Question: 1 / 5</span>
                        <span class="score-count">Score: 0</span>
                    </div>
                    <div class="quiz-question-container">
                        <p class="quiz-question">1. What does HTML stand for?</p>
                    </div>
                    <div class="quiz-option-container">
                        <button class="que-option">Home Tool Markup Language</button>
                        <button class="que-option">Hyperlinks and Text Markup Language</button>
                        <button class="que-option">Hyper Text Markup Language</button>
                    </div>
                </div>
            </div>

            <div class="quiz-sight-container">
                <h1 class="que-screen">HTML Quiz</h1>
                <div class="que-container">
                    <div class="que-score-count">
                        <span class="que-count">Question: 1 / 5</span>
                        <span class="score-count">Score: 0</span>
                    </div>
                    <div class="quiz-question-container">
                        <p class="quiz-question">2. Which HTML attribute specifies an alternate text for an image, if the image cannot be displayed?</p>
                    </div>
                    <div class="quiz-option-container">
                        <button class="que-option">src</button>
                        <button class="que-option">title</button>
                        <button class="que-option">alt</button>
                    </div>
                </div>
            </div>

            <div class="quiz-sight-container">
                <h1 class="que-screen">HTML Quiz</h1>
                <div class="que-container">
                    <div class="que-score-count">
                        <span class="que-count">Question: 1 / 5</span>
                        <span class="score-count">Score: 0</span>
                    </div>
                    <div class="quiz-question-container">
                        <p class="quiz-question">3. Graphics defined by SVG is in which format?</p>
                    </div>
                    <div class="quiz-option-container">
                        <button class="que-option">XML</button>
                        <button class="que-option">CSS</button>
                        <button class="que-option">HTML</button>
                    </div>
                </div>
            </div>

            <div class="quiz-sight-container">
                <h1 class="que-screen">HTML Quiz</h1>
                <div class="que-container">
                    <div class="que-score-count">
                        <span class="que-count">Question: 1 / 5</span>
                        <span class="score-count">Score: 0</span>
                    </div>
                    <div class="quiz-question-container">
                        <p class="quiz-question">4. Which input type defines a slider control?</p>
                    </div>
                    <div class="quiz-option-container">
                        <button class="que-option">slider</button>
                        <button class="que-option">control</button>
                        <button class="que-option">range</button>
                    </div>
                </div>
            </div>

            <div class="quiz-sight-container">
                <h1 class="que-screen">HTML Quiz</h1>
                <div class="que-container">
                    <div class="que-score-count">
                        <span class="que-count">Question: 1 / 5</span>
                        <span class="score-count">Score: 0</span>
                    </div>
                    <div class="quiz-question-container">
                        <p class="quiz-question">5. In HTML, which attribute is used to specify that an input field must be filled out?</p>
                    </div>
                    <div class="quiz-option-container">
                        <button class="que-option">required</button>
                        <button class="que-option">validate</button>
                        <button class="que-option">placeholder</button>
                    </div>
                </div>
            </div>
            <button onclick="location.href='/components/quiz-result.html'" class="quiz-submit-result">Submit</button>
        </div>
       
    </div>
        
    
</body>
</html>