<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/que-screen.css">
</head>
<body>
    <div class="main-container">
        <div class="question-container">
            <div class="quiz-sight-container">
                <h1 class="que-screen">I don't play the odds, I play the man.</h1>
                <div class="que-container">
                    <div class="que-score-count">
                        <span class="que-count">Question: 1 / 5</span>
                        <span class="score-count">Score: 0</span>
                    </div>
                    <div class="quiz-question-container">
                        <p class="quiz-question">Harvet Spector is considered one of New York's most brilliant corporate litigation lawyers, but what's his unusual middele name?</p>
                    </div>
                    <div class="quiz-option-container">
                        <button class="que-option">Michael</button>
                        <button class="que-option">Reginald</button>
                        <button class="que-option">Brandon</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
        
    
</body>
</html>