<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/quiz-correct.css">
</head>
<body>
    <div class="main-container">
        <nav class="navigation">
            <h1 class="quiz-heading">HI-FI Quiz</h1>
            <button onclick="location.href='/components/logout.html'" class="quiz-login-btn">Logout</button>
        </nav>
        <div class="question-container">
            <div class="quiz-sight-container">
                <h1 class="que-screen">I don't play the odds, I play the man.</h1>
                <div class="que-container">
                    <div class="que-score-count">
                        <span class="que-count">Question: 5 / 5</span>
                        <span class="score-count">Score: -20</span>
                    </div>
                    <div class="quiz-question-container">
                        <p class="quiz-question">Harvet Spector is considered one of New York's most brilliant corporate litigation lawyers, but what's his unusual middele name?</p>
                    </div>
                    <div class="quiz-option-container">
                        <button class="que-option btn-quiz-one">Specter Zane Litt</button>
                        <button class="que-option btn-quiz-two">Gordon Schmidt Van Dyke</button>
                        <button class="que-option btn-quiz-three">Pearson Hardman</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>