<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="/assets/css/login.css">
</head>
<body>
    <div class="main-container">
        <nav class="navigation">
            <a href="/"><h1 class="quiz-heading">HI-FI Quiz</h1></a>
        </nav>
    

        <div class="container">
            <div class="container-wrapper">
                <h2 class="login-page">Signup</h2>

                <form>
                    <div class="form-info">
                        <label class="login-text" for="email">Email address:</label>
                        <input class="login-box" type="text" value="sush@neoG">
                        <label class="login-text" for="password">Password:</label>
                        <input class="login-box" type="password" value="sushmita">
                    </div>
                    
                    <div class="pwd-remember">
                        <div class="rem-container">
                            <input class="login-checkbox" type="checkbox">
                            <span class="login-remember">Remember me</span>
                        </div>
                        
                        <span class="login-forget">Forget your password?</span>
                    </div>
                    <button class="login-btn">Login</button>
                    <p class="login-account">Already have an Account</p>
                    
                </form> 
            </div>

            

        </div>
    </div>
</body>
</html>